@charset "utf-8";
@import url("font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,300);

/* IMPORTS */
@import 'app/reset';
@import 'app/fonts';
@import 'app/icons';
@import 'app/mixin';
@import 'app/vars';


/* GENERAL USE */
body{
    height: 100%;
    background-color: $ColorGris_Background;
    font-family:'Roboto', Arial, Helvetica;
}

.table{
    height: 100%;
    width: 100%;
    display: table;
    z-index: 10;
    margin-bottom: 0px;

    .cell{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

}

.full-height{
    height: 100%;
}

label.error{
    font-size: 11px;
    font-weight: normal;
    padding-bottom: 10px;
    margin-top: -5px;
}

/** Header **/
header{
    width: 100%;
    border-top: 3px solid $ColorRojo;
    margin-bottom: 40px;

    nav.menu-top{
        width: 100%;
        height: 70px;
        background-color: $ColorGris;

        .container{
            height: 100%;

            .logo{
                
                img{
                    margin-top: 12px;
                }

            }

            .menu-user{
                line-height: 70px;

                li{
                    color: #FFF;
                    font-family: $Font00_Roboto;
                    font-size: 14px;

                    a{
                        color: #FFF;
                    }
                }
                
            }

        }

        &:after{
            clear: both;
        }

    }

    nav.menu-bottom{
        width: 100%;
        height: 70px;
        background-color: #FFF;

        .container{

            ul.menu{
                line-height: 70px;
                font-size: 14px;

                li{
                    margin-right: 14px;

                    a{
                        color: #748E9D;
                        @include transition(0.2s);

                        i{
                            margin-right: 4px;
                        }
                    }

                    &:hover,
                    &.active{
                        a{
                            color: $ColorGris;
                        }
                    }

                }

            }

        }

    }
    
}



/** LOGIN **/
.login{ 

    background-color: #32363F;
    font-size: 12px;

    .box-login{
        display: inline-block;
        width: 350px;
        background: #262A33;
        box-sizing: border-box;
        padding: 60px 30px;
        text-align: center;
        @include border-radius(3px);

        .logo{
            text-align: center;

            img{
                height: 130px;
                margin-bottom: 25px;
            }
        }

        .label-usuario,                     
        .label-password { 
            color: #FFF; 
            padding: 10px 0px; 
            width: 216px; 
            margin:0px auto;
            text-align: left;
        }

        .usuario,
        .password { 
            width: 216px; 
            height: 38px; 
            padding: 4px 8px; 
            background-color: #FFF; 
            color: #333; 
            border: 0px; 
            outline: none; 
            border-radius: 4px; 
            margin-bottom: 15px; 
        }

    }

    .box-copyright{
        display: inline-block;
        width:362px; 
    }

    input.submit {
        background-color: #32363F;
        width: auto;
        height: 38px;
        line-height: 38px;
        padding: 0px 25px;
        border: 0;
        cursor: pointer;
        border-radius: 4px;
        margin: 0px auto;
        color: #FFF;
        font-family: inherit;
        font-weight: 700;

        &:hover {
            background-color: #434853;
        }

    }

    /* PORTRAIT > VIDEO BACKGROUND */
    .PortraitBackgroundVideo{ 
        position:fixed; 
        top:0px; 
        right:0px; 
        min-width:100%; 
        min-height:100%; 
        max-height:100%; /* 4000% */
        max-width:100%;  /* 100% */
        width:auto; 
        height:auto; 
        z-index:-2; 
        overflow:hidden; 
        object-position:center;
        object-fit: cover;
    }

    &:before{
        content: '';
        background-color: rgba(50,54,63,0.8);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
    }

}


.label-device{
    
    display: inline-block;
    border: 1px solid rgba(48,61,67,0.2);
    color: rgba(48,61,67,0.7);
    padding: 12px 20px;
    width: auto;
    text-align: left;
    @include border-radius(5px);
    font-size: 14px;
    text-transform: capitalize;
    

    .fa{
        margin-right: 6px;
    }

}

.label-alert{

    display: inline-block;
    border: 1px solid rgba(48,61,67,0.2);
    padding: 12px 15px;
    width: auto;
    text-align: left;
    @include border-radius(5px);
    font-size: 14px;
    text-transform: capitalize;

}

.label-status{

    display: inline-block;
    border: 1px solid rgba(48,61,67,0.2);
    padding: 10px 15px;
    width: auto;
    text-align: left;
    @include border-radius(5px);
    font-size: 10px;
    text-transform: uppercase;
    @include transition(0.4s);

    &.new{
        border-color: #C00000;
        background-color: #C00000;
        color: #FFF;
    }

}

.label-open{
    display: inline-block;
    border: 1px solid rgba(48,61,67,0.2);
    padding: 11px 15px;
    width: auto;
    text-align: left;
    @include border-radius(5px);
    text-transform: uppercase;
    @include transition(0.4s);
    font-size: 14px;
    margin-left: 15px;
    background-color: #FFF;
    margin-top: -3px;

    &:hover{
        border-color: #C00000;
        color: #C00000;
    }
}



.panel{
    width: 100%;
    background-color: #FFF;
    @include border-radius(4px);

    .panel-heading{
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;

        h3.panel-title{
            font-family: $Font00_Roboto;
            font-weight: 300;
            font-size: 26px;
            color: $ColorRojo;
            letter-spacing: -1px;
        }

        .user-data{
            font-family: $Font00_Roboto;
            font-weight: 400;
            font-size: 13px;
            color: #444444;
            line-height: 1.5;
            padding-top: 20px;

            strong{
                font-weight: 600;
                color: #213137;
            }
        }

    }

    #map-canvas{
        width: 100%;
        height: 500px;
    }
    

}

.widget{

    .box-title{
        padding: 20px 0px;
        text-align: center;
        font-family: $Font00_Roboto;
        font-size: 13px;
        color: #748E9D;
        @include transition(0.3s);
    }

    .box-icon{
        display: inline-table;
        height: 113px;
        width: 113px;
        background-color: rgba(165,173,183,0.15);
        padding: 10px;
        cursor: pointer;
        @include border-radius(4px);

        &.dark{
            .inner{
                width: 100%;
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                @include border-radius(4px);
                @include transition(0.3s);
                background: rgba(33,49,55,1);
                /*background: -moz-linear-gradient(45deg, rgba(33,49,55,1) 0%, rgba(33,49,55,1) 50%, rgba(44,60,66,1) 50%, rgba(44,60,66,1) 100%);
                background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(33,49,55,1)), color-stop(50%, rgba(33,49,55,1)), color-stop(50%, rgba(44,60,66,1)), color-stop(100%, rgba(44,60,66,1)));
                background: -webkit-linear-gradient(45deg, rgba(33,49,55,1) 0%, rgba(33,49,55,1) 50%, rgba(44,60,66,1) 50%, rgba(44,60,66,1) 100%);
                background: -o-linear-gradient(45deg, rgba(33,49,55,1) 0%, rgba(33,49,55,1) 50%, rgba(44,60,66,1) 50%, rgba(44,60,66,1) 100%);
                background: -ms-linear-gradient(45deg, rgba(33,49,55,1) 0%, rgba(33,49,55,1) 50%, rgba(44,60,66,1) 50%, rgba(44,60,66,1) 100%);
                background: linear-gradient(45deg, rgba(33,49,55,1) 0%, rgba(33,49,55,1) 50%, rgba(44,60,66,1) 50%, rgba(44,60,66,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213137', endColorstr='#2c3c42', GradientType=1 );*/

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        

        &.light{
            .inner{
                width: 100%;
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                @include border-radius(4px);
                @include transition(0.3s);
                background-color: #A5ADB7;

                img{
                    *width: 100%;
                    *height: 100%;
                }
            }
        }

    }

    &:hover,
    &.active{
        .box-title{
            color: $ColorGris;
        }
        .box-icon{
            &.dark{
                .inner{
                    background: rgba(196,0,0,1);
                    /*background: -moz-linear-gradient(45deg, rgba(196,0,0,1) 0%, rgba(196,0,0,1) 50%, rgba(204,33,33,1) 50%, rgba(204,33,33,1) 100%);
                    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(196,0,0,1)), color-stop(50%, rgba(196,0,0,1)), color-stop(50%, rgba(204,33,33,1)), color-stop(100%, rgba(204,33,33,1)));
                    background: -webkit-linear-gradient(45deg, rgba(196,0,0,1) 0%, rgba(196,0,0,1) 50%, rgba(204,33,33,1) 50%, rgba(204,33,33,1) 100%);
                    background: -o-linear-gradient(45deg, rgba(196,0,0,1) 0%, rgba(196,0,0,1) 50%, rgba(204,33,33,1) 50%, rgba(204,33,33,1) 100%);
                    background: -ms-linear-gradient(45deg, rgba(196,0,0,1) 0%, rgba(196,0,0,1) 50%, rgba(204,33,33,1) 50%, rgba(204,33,33,1) 100%);
                    background: linear-gradient(45deg, rgba(196,0,0,1) 0%, rgba(196,0,0,1) 50%, rgba(204,33,33,1) 50%, rgba(204,33,33,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40000', endColorstr='#cc2121', GradientType=1 );*/
                }
            }
            &.light{
                .inner{
                    background-color: #808B99;
                }
            }
        }
    }

}




/** HOME PORTRAIT **/
#portrait{

    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;

    .table{
        height: 100%;
        width: 100%;
        *position: absolute;
        display: table;
        z-index: 10;

        .cell{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

    }

    &:after{
        content:'';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(18,19,21,0.63);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .title{
        font-family: $Font03_Black;
        font-size: 60px;
        color: #FFF;
        margin: 20px auto;
        letter-spacing: -1px;
    }

    .copy{
        font-family: $Font02_Light;
        font-size: 16px;
        color: #FFF;
        line-height: 1.6;
        margin: 20px auto;
    }

    
    /* PORTRAIT > VIDEO BACKGROUND */
    .PortraitBackgroundVideo{ 
        position:absolute; 
        top:0px; 
        right:0px; 
        min-width:100%; 
        min-height:100%; 
        max-height:100%; /* 4000% */
        max-width:100%;  /* 100% */
        width:auto; 
        height:auto; 
        z-index:-2; 
        overflow:hidden; 
        object-position:center;
        object-fit: cover;
    }

}

/** **/
#table-alertas{
    color: #515F66;

    .btn{
        border: 1px solid rgba(48,61,67,0.2) !important;
        color: rgba(48,61,67,0.7) !important;
        padding: 8px 15px !important;
        width: auto;
        text-align: left;
        @include border-radius(5px);
        font-size: 14px;
        text-transform: capitalize;
        width: 144px;
        text-align: right;

        i{
            font-size: 11px;
        }
    }

    thead th{
        font-weight: 500;
        font-size: 13px;
        color: #515F66;
    }

    tbody td{
        font-weight: 400;
        font-size: 13px;
        color: #768391;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    tbody tr{
        &.highlight{
            @include transition(0.7s);

            td{
                background-color: #FFFF99;
                @include transition(0.7s);
            }
        }
    }
}


/** PAGINATION **/
.pagination{
    margin-bottom: 40px;

    li{
        a{
            font-family: $Font02_Regular;
            font-size: 14px;
            color: #222;
        }
    }
}

/** FOOTER **/
footer { 

    background-color: #000;
    display:block; 
    position:relative; 
    text-align: center;

    ul{
        margin: 80px 0px;
        text-align: left;
        display: inline-block;
        float: none !important;

        li:first-child{
            font-family: $Font04_Regular;
            font-size: 14px;
            color: #FFF;
            margin-bottom: 25px;
            letter-spacing: 1px;
        }

        li:nth-child(n+2){
            font-family: $Font02_Regular;
            font-size: 13px;
            color: #878787;
            padding-bottom: 10px;
        }
    }

    .line{
        width: 100%;
        height: 1px;
        background-color: #222;
    }

    .box-underfooter{
        padding: 38px;
        font-family: $Font02_Regular;
        font-size: 13px;
        color: #878787;
    }

}