* {
  outline: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

input[type=submit] {
  -webkit-appearance: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  text-decoration: none; }

html, body {
  height: 100%; }

.box-login {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  /* PORTRAIT > VIDEO BACKGROUND */ }
  .box-login .logo {
    width: 159px;
    margin-bottom: 40px; }
  .box-login .copyLogin {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #FFF;
    line-height: 1.6;
    margin-top: 25px;
    letter-spacing: 1px; }
  .box-login .box-input {
    padding-bottom: 15px; }
    .box-login .box-input input[type=text],
    .box-login .box-input input[type=password] {
      width: 300px;
      height: 45px;
      padding: 8px 30px;
      color: #333;
      background-color: white;
      border-radius: 4px;
      border: 0px;
      font-family: "Open Sans", Arial;
      font-size: 14px;
      font-weight: 400; }
    .box-login .box-input input[type=submit] {
      width: 300px;
      height: 45px;
      padding: 8px 30px;
      background-color: #BC0000;
      color: #FFF;
      border-radius: 4px;
      border: 0px;
      cursor: pointer;
      font-family: "Open Sans", Arial;
      font-size: 14px;
      font-weight: 600; }
    .box-login .box-input input[type=submit]:hover {
      background-color: #A80000;
      color: #FFF; }
  .box-login .table {
    height: 100%;
    width: 100%;
    *position: absolute;
    display: table;
    z-index: 10; }
    .box-login .table .cell {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
  .box-login:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    *background-color: rgba(68, 175, 227, 0.63);
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .box-login .PortraitBackgroundVideo {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    /* 4000% */
    max-width: 100%;
    /* 100% */
    width: auto;
    height: auto;
    z-index: -2;
    overflow: hidden;
    object-position: center;
    object-fit: cover; }

/*# sourceMappingURL=app.css.map */
