
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Bold.woff') format('woff'),
         url('fonts/Montserrat-Bold.ttf') format('truetype'),
         url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Regular.woff') format('woff'),
         url('fonts/Montserrat-Regular.ttf') format('truetype'),
         url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('fonts/SegoeUI-Bold.eot');
    src: url('fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/SegoeUI-Bold.woff') format('woff'),
         url('fonts/SegoeUI-Bold.ttf') format('truetype')/*,
         url('fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI-Regular';
    src: url('fonts/SegoeUI-Regular.eot');
    src: url('fonts/SegoeUI-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/SegoeUI-Regular.woff') format('woff'),
         url('fonts/SegoeUI-Regular.ttf') format('truetype')/*,
         url('fonts/SegoeUI-Regular.svg#SegoeUI-Regular') format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI-Light';
    src: url('fonts/SegoeUI-Light.eot');
    src: url('fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/SegoeUI-Light.woff') format('woff'),
         url('fonts/SegoeUI-Light.ttf') format('truetype')/*,
         url('fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrandonGrotesque-Black';
    src: url('fonts/BrandonGrotesque-Black.eot');
    src: url('fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/BrandonGrotesque-Black.woff') format('woff'),
         url('fonts/BrandonGrotesque-Black.ttf') format('truetype')/*,
         url('fonts/BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OldStandardTT-Regular';
    src: url('fonts/OldStandardTT-Regular.eot');
    src: url('fonts/OldStandardTT-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OldStandardTT-Regular.woff') format('woff'),
         url('fonts/OldStandardTT-Regular.ttf') format('truetype')/*,
         url('fonts/OldStandardTT-Regular.svg#OldStandardTT-Regular') format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OldStandardTT-Italic';
    src: url('fonts/OldStandardTT-Italic.eot');
    src: url('fonts/OldStandardTT-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/OldStandardTT-Italic.woff') format('woff'),
         url('fonts/OldStandardTT-Italic.ttf') format('truetype')/*,
         url('fonts/OldStandardTT-Italic.svg#OldStandardTT-Italic') format('svg')*/;
    font-weight: normal;
    font-style: normal;
}


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Montserrat-Bold';
        src: url('fonts/Montserrat-Bold.svg') format('svg');
    }
    @font-face {
        font-family: 'Montserrat-Regular';
        src: url('fonts/Montserrat-Regular.svg') format('svg');
    }
    @font-face {
        font-family: 'SegoeUI-Bold';
        src: url('fonts/SegoeUI-Bold.svg') format('svg');
    }
    @font-face {
        font-family: 'SegoeUI-Regular';
        src: url('fonts/SegoeUI-Regular.svg') format('svg');
    }
    @font-face {
        font-family: 'SegoeUI-Light';
        src: url('fonts/SegoeUI-Light.svg') format('svg');
    }
}
*/
