/* VAR: Fonts */
$Font00_Roboto:     'Roboto', Arial, Helvetica, sans-serif;
$Font01_Regular:    'Montserrat-Regular', Arial, Helvetica, sans-serif;
$Font01_Bold:       'Montserrat-Bold', Arial, Helvetica, sans-serif;
$Font02_Regular:    'SegoeUI-Regular', Arial, Helvetica, sans-serif;
$Font02_Bold:       'SegoeUI-Bold', Arial, Helvetica, sans-serif;
$Font02_Light:      'SegoeUI-Light', Arial, Helvetica, sans-serif;
$Font03_Black:      'BrandonGrotesque-Black', Arial, Helvetica, sans-serif;
$Font04_Regular:    'OldStandardTT-Regular', Arial, Helvetica, sans-serif;
$Font04_Italic:     'OldStandardTT-Italic', Arial, Helvetica, sans-serif;


/* VAR: Colores */
$ColorRojo:				#C00000;
$ColorGris:				#233137;
$ColorGris_Hover:		#C00000;
$ColorGris_Background: 	#F4F7F8; 

